@media (max-width: 600px) {
  nav {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .searchbar {
    flex-direction: row;
    width: 90%;
  }

  .myinput {
    width: 100%;
  }

  .menuclick {
    display: none;
  }
}
