@media (max-width: 600px) {
  nav {
    flex-direction: row; /* Mengubah orientasi nav menjadi kolom */
    align-items: center; /* Mengatur alignment menjadi flex-start */
    gap: 10px; /* Mengurangi jarak antar elemen */
  }

  .searchbar {
    flex-direction: row; /* Mengubah orientasi searchbar menjadi kolom */
    width: 90%; /* Mengatur lebar menjadi 100% */
  }

  .myinput {
    width: 100%; /* Mengatur input untuk mengisi ruang yang tersedia */
  }

  .menuclick {
    display: none;
  }
}
